/* === For your Responsive CSS === */

img {
    max-width: 100%;
}

@media screen and (max-width:600px){
    header {
 grid-template-columns: 100%; 
 }
    #splash {
        font-size: 2rem;
        line-height: 2.5rem;
        height: 10.7rem;
}
    main {
    grid-template-columns: 100%;
}
    #splash {
        grid-column: 1/2;
}
    #app {
        grid-column: 1/2;
}
    footer {
        
    }
}

@media screen and (min-width:601px){
    #mobile-menu{
        display: none;
    }
}