/* == REM calculations based on root of 16px ==*/

/* == Typography == */

body {
    font-family: 'Futura', 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.29rem;
}

h2 {
    font-size: 2.14rem;
}

header,
footer {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#footertext {
    align-content: center;
    font-family: 'Futura', 'Arial', sans-serif;
    font-size: 1.2rem;
    line-height: 1.29rem;
    text-align: center;
    margin: 3.125rem;
}

#logo {
    text-align: center;
    width: 9.375rem;
    
}

.catering {
    line-height: 2.813rem;
}

#nav a {
    margin-right: 0.625rem;
    text-align: center;
    padding: 0.5rem;
    color: white;
    font-size: 1.5rem;
}

#nav a:hover {
    color: #ce764a;
    transition: 0.5s;
}

#splash {
    text-align: center;
    font-size: 3.43rem;
    line-height: 4.29rem;
    color: white;
    text-shadow: 0rem 0rem 0.27rem #6e6e6e;
}

.info {
    font-family: 'Futura', 'Arial', sans-serif;
    font-size: 1.2rem;
    line-height: 1.29rem;
}

.donation {
    font-size: 1.563rem;
    color: orangered;
    text-decoration: underline
}

footer {
    align-content: center;
    
}

.email {
    font-size: 1.2rem;
    text-decoration: underline;
    font-style: normal;
    
}

/* Font Awesome icons */
.fab {
    font-size: 2.14rem;
    margin-right: 0.71rem;
}

.fab:hover {
    color: #ce764a;    
    transition: 0.5s;
}

/* == Background == */
header {
    background-color: #4fbfa3;
}


body {
    background-color: #4fbfa3;
}

main {
    background-color: #ffd968;
}

.mainalt{
    background-color: #fff;
}

#splash {
    background-image: url(main_page_sub.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

/* == Box Model == */

body {
    margin: 0rem;
    padding: 0rem;
}

footer {
    padding: 0.54rem;
}

header {
    padding: 1.07rem;
}

button {
    border: 0;
    background-color: #b56441;
    color: #fff;
    padding: 1.07rem;
    font-size: 2.14rem;
    margin-top: 0.8rem;
}

footer {
    padding-top: 2.68rem;
}

#splash {
    height: 25rem;
}

#location {
    height: 12.5rem;
}

#mobile-menu{
    position: fixed;
    top: 0.54rem;
    left: 0.54rem;
}

/* === Layout  === */

header {
    box-shadow: 0rem 0.813rem 2.813rem rgba(0,0,0,0.5);
}

.info {
    margin-bottom: 3.125rem;
}

nav {
    margin-top: 2.188rem;
}

#nav {
    margin-top: 2.188rem;
}

/* = Grid =*/
header {
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

footer {
    display: grid;
}

main {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

#location {
    grid-column-start: 1;
    grid-column-end: 4;
}

#splash {
    grid-column-start: 1;
    grid-column-end: 4;
}

.info {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    padding: 0.938rem;
}

/* = Flexbox = */

#location,
#splash {
    display: flex;
}

#location,
#splash {
    align-items: center;
    justify-content: center;
}

/* = Other = */

* {
    box-sizing: border-box;
}

#social-media {
    text-align: right;
    float: right;
}

#location {
    text-align: center;
}


/* Dropdown Button */
.dropbtn {
  background-color: #4fbfa3;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 1.25rem;
    border-radius: 0.938rem;
    width: 15.625rem;
    height: 3.75rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: 'Futura', 'Arial', sans-serif;
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #099e74;
    transition: 0.5s;
}

/* Header fixed */
header {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    z-index: 1;
}

.headerspace {
    height: 8.875rem;
}

/* Location Pictures */

#location2 {
    display: block;
    grid-template-columns: 50% 50%;
}

.locationimg {
   grid-column-start:1;
    grid-column-end:2;
}

#irving {
    background-image:url(Irving%20Location.JPG);
}

#chinatown {
    background-image: url(Chinatown%20Location.JPG);
}

#valencia {
    background-image: url(Valencia%20Location.JPG);
}

.locationdescription {
    grid-column-start:2;
    grid-column-end:3;
}



